.NotoSerif{
    font-family: 'Noto Serif', serif;
}
.JosefinSans{
    font-family: 'Josefin Sans', sans-serif;
}
.PtSerif{
    font-family: 'PT Serif', serif;
}
.Pacifico{
    font-family: 'Pacifico', cursive;
}
.CrimsonText{
    font-family: 'Crimson Text', serif;
}